
/*
-----------
LECCION 1 
-----------
*/

/* body {
    color: tomato;
} */

/* Se ha seleccionado h1 por etiqueta */
/* h1 {
    color: tomato;
} */

/* Se usa # para seleccionar id */
#titulo {
    color: tomato;
    /* font-size: 10px;
    border: solid 2em red; */
}

/* Se usa . para seleccionar class */
.texto {
    color: slateblue;
}

/* Todas las p (los parrafos) que contienen la palabra "texto" en sus clases */
p.texto {
    color: slateblue;
}

/* Todas las p (los parrafos) que contienen la palabra "especial" en sus clases */
p.especial {
    color: mediumseagreen;
}

/* Todas las p hijas de div */
div p {
    color: aquamarine;
}

/* Todas las h2 hijas de div */
div h2, div h3 {
    color: brown;
}

/* TODOS LOS ELEMENTOS! */
* {
    font-size: 24px;
    /* color: black; */
}


/*
-----------
COLOR
-----------
*/

.color {
    /* Usando terna Hexadecimal */
    /* los valores van de 0 a f es la maxima intensidad */
    /* f es la maxima intensidad */
    /* El siguiente ejemplo el color es rojo intenso */
    color: #f00;
    
    /* Usando seis valores hexadecimales */
    /* El siguiente ejemplo el color es verde intenso */
    color: #00ff00;

    /* El famoso rgb */
    color: rgb(0,0,255);
}


/* BORDES */
.color {
    /* border: 5px red outset; */
    /*
    2D 
        dashed
        dotted
        solid
        double
    3D
        groove
        ridge
        inset
        outset
    
        none
        hidden 
    */

    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 5px;
    
    /* Medidas absolutas */
    /* border-width: 1cm; centimetro */
    /* border-width: 5mm; milimetro */
    /* border-width: 1in; pulgada */
    /* border-width: 5pt; puntos */
    /* border-width: 1pc; picas */
    
    /* Medidas relativas */
    border-width: 2em;
    border-width: 2rem;
}


/* BACKGROUND */
#fondo {
    /* background-color: red; */
    /* background-color: rgba(255,0,0,0.3); */
    /* opacity: 0.3; */
    background-image: url('coffee.png');
    height: 400px;
}