* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(31, 31, 31);
    /* color: white; */
}

.grid-item1 {   grid-area: header; }
.grid-item2 {   grid-area: menu;   }
.grid-item3 {   grid-area: main;   }
.grid-item4 {   grid-area: right;  }
.grid-item5 {   grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255,255,255,0.8);
    border: 1px solid rgba(0,0,0,0.8);
    text-align: center;
    font-size: 30px;
}


